@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    margin: 0;
}

.top {
    background-color: #1f2937;
    padding: 0px 196px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo {
    font-size: 24px;
    color: #f9faf8;
}

#awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0px;
}

#awesome-sub {
    margin: 0px;
}

.footer {
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.hero-secondary {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    margin: 96px 0px;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.left,
.right {
    flex: 1 1 0;
}

img {
    max-width: 100%;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 4px 36px;
    font-size: 20px;
    margin-top: 4px;
    border-radius: 8px;
}

.random {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.random-info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}

.random-images {
    display: flex;
    gap: 16px;
    justify-content: center;
    font-size: 18px;
    color: #969696;
    text-align: center;
    gap: 48px;
    padding: 0px 256px;
}

.random-img {
    flex: 1 1 0;
}

.random-img img {
    border: 5px solid #3882F6;
    border-radius: 8px;
}